@import "tailwindcss";

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* Variables temáticas 
============================================*/


@theme {
	--color-accent: #2337ff;
	--color-accent-dark: #000d8a;

	--font-atkinson: 'Atkinson', sans-serif;
}

/*Estilos Basicos
============================================*/

@layer base {
	body {
		@apply bg-gray-50 text-gray-900 text-lg md:text-xl font-atkinson text-left;
		word-wrap: break-word;
		overflow-wrap: break-word;
		line-height: 1.7;
	}

	main{
		@apply w-[720px] max-w-[calc(100%-2em)] mx-auto p-4 md:px-4 md:py-12;
	}

	h1, h2, h3, h4, h5, h6 {
		@apply text-gray-950 my-5 leading-tight;
	}

	h1{
		@apply text-5xl;
	}

	h2{
		@apply text-4xl;
	}

	h3{
		@apply text-3xl;
	}
	h4{
		@apply text-2xl;
	}
	h5{
		@apply text-xl;
	}

	strong, b{
		@apply font-bold;
	}

	a {
		@apply text-accent hover:text-accent-dark hover:underline;
	}

	p{
		@apply mb-5;
	}

	.prose p{
		@apply mb-10;
	}

	textarea{
		@apply w-full text-lg;
	}

	input{
		@apply text-lg;
	}

	table{
		@apply w-full;
	}

	img{
		@apply max-w-full h-auto rounded-lg;
	}

	code{
		@apply px-1 py-0.5 bg-gray-200 rounded;
	}

	pre{
		@apply p-6 rounded-lg;
	}

	pre > code {
		all: unset
	}

	blockquote {
		@apply border-l-4 border-accent pl-4 mb-2 text-lg;
	}
	hr {
		@apply border-none border-t border-gray-300;
	}

}



